html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
}
.out-box {
  display: -webkit-box;
  /* Safari and Chrome */
  -webkit-transition: -webkit-transform 0.5s;
}
.question-container {
  height: 100%;
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
}
.start-container {
  height: 100%;
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
}
.request-container {
  height: 100%;
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
}
.question-container {
  position: relative;
  overflow: hidden;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
}
.question-container .top-title {
  position: absolute;
  width: 13.274rem;
  height: 4.756rem;
  left: 1.362rem;
  top: 0.8rem;
  background-image: url("../images/top-title.png");
  background-size: 100% 100%;
  z-index: 888;
}
.question-container .question-back {
  position: absolute;
  width: 13.185rem;
  left: 1.407rem;
  height: 9.481rem;
  top: 4.7rem;
  background-image: url("../images/question-back.png");
  background-size: 100% 100%;
  z-index: 888;
}
.question-container .question-back .question-content {
  position: absolute;
  -webkit-transition: -webkit-mask-position 0.3s ease;
}
.question-container .answer-back {
  position: absolute;
  width: 5.333rem;
  height: 4.4rem;
  top: 13.56rem;
  background-image: url("../images/answer-back.png");
  background-size: 100% 100%;
  z-index: 888;
  -webkit-transform-origin: top center;
}
.question-container .answer-back.yep {
  left: 2.2rem;
}
.question-container .answer-back.nope {
  left: 8.5rem;
}
.question-container .answer-back .yep-word {
  position: absolute;
  background-image: url("../images/yep.png");
  background-size: 100% 100%;
  width: 1.614rem;
  height: 1.733rem;
  top: 2.322rem;
  left: 1.8rem;
  z-index: 999;
}
.question-container .answer-back .nope-word {
  position: absolute;
  background-image: url("../images/nope.png");
  background-size: 100% 100%;
  width: 1.57rem;
  height: 1.718rem;
  top: 2.322rem;
  left: 1.8rem;
  z-index: 999;
}
.question-container .left-bear {
  position: absolute;
  background-image: url("../images/bear.png");
  background-size: 100% 100%;
  width: 4.018rem;
  height: 6.458rem;
  left: 0.5rem;
  bottom: 0.5rem;
  z-index: 500;
}
.question-container .cloud1 {
  position: absolute;
  width: 9.303rem;
  height: 3.525rem;
  background-image: url("../images/cloud1.png");
  background-size: 100% 100%;
  top: 17rem;
  left: -3.3rem;
  z-index: 100;
  -webkit-animation: cloud1 5s linear infinite;
}
.question-container .cloud2 {
  position: absolute;
  width: 9.303rem;
  height: 3.525rem;
  background-image: url("../images/cloud2.png");
  background-size: 100% 100%;
  top: 13rem;
  left: 9rem;
  z-index: 100;
  -webkit-animation: cloud2 10s linear infinite;
}
.question-container .cloud3 {
  position: absolute;
  width: 9.303rem;
  height: 3.525rem;
  background-image: url("../images/cloud3.png");
  background-size: 100% 100%;
  left: -1rem;
  top: 4.44rem;
  z-index: 100;
  -webkit-animation: cloud3 9s linear infinite;
}
.question-container .cloud4 {
  position: absolute;
  width: 9.303rem;
  height: 3.525rem;
  background-image: url("../images/cloud1.png");
  background-size: 100% 100%;
  left: -1rem;
  bottom: -1.44rem;
  z-index: 100;
  opacity: 0.8;
}
.question-container .cloud5 {
  position: absolute;
  width: 9.303rem;
  height: 3.525rem;
  background-image: url("../images/cloud2.png");
  background-size: 100% 100%;
  left: 9rem;
  bottom: -1.44rem;
  z-index: 100;
}
.question-container .please {
  position: absolute;
  width: 8.814rem;
  height: 1.007rem;
  background-image: url("../images/please.png");
  background-size: 100% 100%;
  bottom: 1rem;
  right: 1rem;
  bottom: 2rem;
  right: 1.2rem;
  z-index: 200;
}
.question-container .star {
  position: absolute;
  width: 1.481rem;
  height: 1.481rem;
  background-image: url("../images/star.png");
  background-size: 100% 100%;
  z-index: 20;
  opacity: 0.8;
}
.question-container .star1 {
  right: 3.6rem;
  top: 5.2rem;
}
.question-container .star2 {
  bottom: 1.2rem;
  left: 8rem;
}
.question-container .line {
  position: absolute;
  width: 1px;
  background: #fff;
  height: 10rem;
  z-index: 20;
  opacity: 0.3;
}
.question-container .line1 {
  right: 1.7rem;
  -webkit-transform: rotate(37deg);
  top: -3rem;
  z-index: 20;
}
.question-container .line2 {
  left: 12rem;
  -webkit-transform: rotate(37deg);
  bottom: 1.2rem;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes cloud1 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(7rem, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes cloud2 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-6rem, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes cloud3 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(9rem, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.start-container {
  position: relative;
  background: #ffd731;
  overflow: hidden;
}
.start-container .out-line1 {
  position: absolute;
  top: -0.2133rem;
  bottom: 0.2133rem;
  left: 0.2133rem;
  right: 0.2133rem;
  border: 0.128rem solid #fff;
}
.start-container .out-line2 {
  position: absolute;
  top: -0.512rem;
  bottom: 0.512rem;
  left: 0.512rem;
  right: 0.512rem;
  border: 0.072rem solid #fff;
}
.start-container .start-img {
  position: absolute;
  background-image: url("../images/start-box.png");
  background-size: 100% 100%;
  top: 1.6rem;
  bottom: 5.034rem;
  left: 2.56rem;
  right: 2.773rem;
}
.start-container .start-bear {
  position: absolute;
  background-image: url("../images/start-bear.png");
  background-size: 100% 100%;
  width: 5.382rem;
  height: 6.613rem;
  right: 1.173rem;
  top: 0.64rem;
}
.start-container .start-word {
  position: absolute;
  background-image: url("../images/start-word.png");
  background-size: 100% 100%;
  top: 3.456rem;
  left: 4.629rem;
  right: 6.465rem;
  bottom: 5.7rem;
  -webkit-animation: down 1s ease;
}
.start-container .start-btn {
  position: absolute;
  background-image: url("../images/start-btn.png");
  background-size: 100% 100%;
  width: 10.282rem;
  height: 2.986rem;
  left: 2.56rem;
  bottom: 1.493rem;
  -webkit-animation: big 1s infinite;
}
@-webkit-keyframes big {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(0, -50rem);
  }
  50% {
    -webkit-transform: translate(0, -50rem);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.request-container {
  position: relative;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  overflow: hidden;
}
.request-container .request-title {
  position: absolute;
  background-image: url("../images/request-title.png");
  background-size: 100% 100%;
  left: 3.1rem;
  top: 1.49rem;
  width: 9.82rem;
  height: 2.719rem;
}
.request-container .request-content {
  position: absolute;
  width: 14.4rem;
  left: 0.8rem;
  top: 5rem;
}
.request-container .request-img {
  position: absolute;
  width: 13.44rem;
  bottom: 0.493rem;
  left: 1.28rem;
}
.request-container .regame-btn,
.request-container .share-btn {
  position: absolute;
  width: 6rem;
  height: 1.621rem;
  bottom: 10.453rem;
  border-radius: 0.84rem;
  border: 2px solid #1b1b1b;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.621rem;
}
.request-container .regame-btn {
  left: 1.28rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #41b8dc), color-stop(1, #27a7cb));
}
.request-container .share-btn {
  right: 1.28rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffb12f), color-stop(1, #ffa003));
}
@-webkit-keyframes toBig {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
