.question1 {
  background-image: url("../images/question/1.png");
  background-size: 100% 100%;
  width: 11.946rem;
  height: 2.986rem;
  left: 0.4rem;
  top: 3.9rem;
}
.question2 {
  background-image: url("../images/question/2.png");
  background-size: 100% 100%;
  width: 11.946rem;
  height: 2.986rem;
  left: 0.4rem;
  top: 3.9rem;
}
.question3 {
  background-image: url("../images/question/3.png");
  background-size: 100% 100%;
  width: 11.946rem;
  height: 2.986rem;
  left: 0.4rem;
  top: 3.9rem;
}
